<!DOCTYPE html>
<html ng-app="crowsNest">
  <head>
    <title>Crows nest - Server monitoring for awesome people.</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <div ui-view></div>

    <script src="http://127.0.0.1:1337/socket.io/socket.io.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
